body {
	font-family: sans-serif;
}
#sidebar {
	position: fixed;
	top: 104px;
	bottom: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar li {
	font-size: 17px;
	border-bottom: 1px dashed #ccc;
	padding-left: 20px;
}

#sidebar li:hover {
	background-color: #6c757d;
}
#sidebar li:hover a {
	color: #fff !important;
}

#content {
    margin-top: 110px;
	margin-left: 16.6%;
}
.hide-item {
	padding-left: 5px;
}



#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}